@import "tailwindcss";
@import "./styles/fonts.css";
:root {
  --black: #191a15;
  --text-black: rgba(25, 26, 21, 0.5);
  --white: #fbfbfb;
  --primary-color: #000000; /* Значення за замовчуванням */
  --primary-color-hover: #000000; /* Значення за замовчуванням */
  --primary-color-light: rgba(0, 0, 0, 0.2); /* Значення за замовчуванням */
  --primary-color-question: #000000; /* Значення за замовчуванням */
  --primary-color-users: #000000; /* Значення за замовчуванням */
  --inter: "Inter", sans-serif;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Зелена тема */
:root[data-theme="green"] {
  --primary-color: #54be96;
  --primary-color-hover: #36a379;
  --primary-color-question: #4535af;
  --primary-color-users: #fbc75e;
  --primary-color-light: rgba(84, 190, 150, 0.2);
}

/* Синя тема */
:root[data-theme="blue"] {
  --primary-color: #3470ff;
  --primary-color-hover: #255ee8;
  --primary-color-light: rgba(52, 112, 255, 0.2);
  --primary-color-question: #54be96;
  --primary-color-users: #fbc75e;
}

/* Оранжева тема */
:root[data-theme="orange"] {
  --primary-color: #fc832c;
  --primary-color-hover: #f37113;
  --primary-color-light: rgba(252, 131, 44, 0.2);
  --primary-color-question: #54be96;
  --primary-color-users: #fbc75e;
}

/* Theme definitions */
@theme {
  --color-black: var(--black);
  --color-text-black: var(--text-black);
  --color-white: var(--white);
  --color-primary-color: var(--primary-color);
  --color-primary-color-hover: var(--primary-color-hover);
  --color-primary-color-light: var(--primary-color-light);
  --color-primary-color-question: var(--primary-color-question);
  --color-primary-color-users: var(--primary-color-users);
  --font-inter: var(--inter);
}
