@import "tailwindcss";
@import "./styles/fonts.css";
:root {
  --black: #191a15;
  --text-black: rgba(25, 26, 21, 0.5);
  --white: #fbfbfb;
  --color-green: #38cd3e;
  --star-yellow: #ffc531;
  --primary-bg-white: #f3f3f3;
  --primary-color-gray: #8a8a89;
  --primary-color: #54be96; /* Значення за замовчуванням */
  --primary-color-hover: #36a379; /* Значення за замовчуванням */
  --primary-color-light: rgba(
    84,
    190,
    150,
    0.2
  ); /* Значення за замовчуванням */
  --primary-color-question: #4535af; /* Значення за замовчуванням */
  --primary-color-users: #fbc75e; /* Значення за замовчуванням */
  --primary-color-star: #ffc531;
  --inter: "Inter", sans-serif;

  --primary-backdrop: rgba(25, 26, 21, 0.6);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --shadow-filter-card: 0 20px 69px 0 rgba(0, 0, 0, 0.07);
}
/* Зелена тема */
:root[data-theme="green"] {
  --primary-color: #54be96;
  --primary-color-hover: #36a379;
  --primary-color-question: #4535af;
  --primary-color-users: #fbc75e;
  --primary-color-light: rgba(84, 190, 150, 0.2);
}

/* Синя тема */
:root[data-theme="blue"] {
  --primary-color: #3470ff;
  --primary-color-hover: #255ee8;
  --primary-color-light: rgba(52, 112, 255, 0.2);
  --primary-color-question: #54be96;
  --primary-color-users: #fbc75e;
}

/* Оранжева тема */
:root[data-theme="orange"] {
  --primary-color: #fc832c;
  --primary-color-hover: #f37113;
  --primary-color-light: rgba(252, 131, 44, 0.2);
  --primary-color-question: #54be96;
  --primary-color-users: #fbc75e;
}

/* Theme definitions */
@theme {
  --color-black: var(--black);
  --color-text-black: var(--text-black);
  --color-white: var(--white);
  --color-star-yellow: var(--star-yellow);
  --color-color-green: var(--color-green);
  --color-primary-bg-white: var(--primary-bg-white);
  --color-primary-color-gray: var(--primary-color-gray);
  --color-primary-color: var(--primary-color);
  --color-primary-color-hover: var(--primary-color-hover);
  --color-primary-color-light: var(--primary-color-light);
  --color-primary-color-question: var(--primary-color-question);
  --color-primary-color-users: var(--primary-color-users);
  --color-primary-color-star: var(--primary-color-star);
  --font-inter: var(--inter);

  --modal-backdrop: var(--primary-backdrop);

  --shadow-filters-card: var(--shadow-filter-card)

  /* xl 1440рх  sm 320рх */
  --breakpoint-xs: 20rem; /* 320рх  */
  --breakpoint-2xl: 90rem; /* 1440рх  */
}
/* container */
.container-px {
  @apply px-4 sm:px-8 md:px-16;
}
.container-py {
  @apply py-4 sm:py-5 md:py-6;
}
.container-footer-px {
  @apply px-8 xl:px-[76px] 2xl:px-0;
}
.container-width {
  @apply 2xl:max-w-[1440px] m-auto;
}

/* reset css */
body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  font-weight: 700;
  background-color: var(--color-primary-bg-white);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-backdrop);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.noScroll {
  overflow: hidden;
  height: 100%;
}

.window {
  position: relative;
  padding: 64px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 8px 20px var(--modal-backdrop);
  max-width: 500px;
  max-height: 90vh; /* Збільшена максимальна висота */
  overflow-y: auto; /* Вертикальна прокрутка при необхідності */
  overflow-x: hidden; /* Приховує горизонтальний скролінг */
  margin: 0 auto;
  transform: scale(0.9);
  animation: showModal 0.3s ease-out forwards;
}

/* Приховує боковий скролбар */
.window::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media (min-width: 768px) {
  .window {
    padding: 32px;
  }
}
@media (min-width: 1440px) {
  .window {
    padding: 64px;
  }
}
@keyframes showModal {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.closeButton {
  position: absolute;
  font-size: 30px;
  top: 5px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-black);
}
